@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Regular'), local('Vladivostok-Regular'), url('Vladivostokregular.woff2') format('woff2'), url('Vladivostokregular.woff') format('woff'), url('Vladivostokregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Vladivostok';
    src: local('Vladivostok Bold'), local('Vladivostok-Bold'), url('Vladivostokbold.woff2') format('woff2'), url('Vladivostokbold.woff') format('woff'), url('Vladivostokbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
